name: RouteRx CI/CD

on:
  push:
    branches: [master, main]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS via Docker
        uses: appleboy/ssh-action@v1.0.3
        env:
          SMTP_HOST: ${{ secrets.SMTP_HOST }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
          ALERT_FROM: ${{ secrets.ALERT_FROM }}
          GENERAL_FROM: ${{ secrets.GENERAL_FROM }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
        with:
          host: ${{ secrets.SERVER_IP }}
          username: deploy
          key: ${{ secrets.SERVER_SSH_KEY }}
          envs: SMTP_HOST,SMTP_PORT,SMTP_USER,SMTP_PASS,ALERT_FROM,GENERAL_FROM,JWT_SECRET
          script: |

            set -e

            echo "---- GO TO APP DIR ----"
            cd ~/apps/routerx-api || exit 1

            echo "---- UPDATE REPO ----"
            git fetch --all
            git reset --hard origin/master
            git clean -fd

            echo "---- WRITE ENV ----"
            cat > .env << EOF
            PORT=3000
            REDIS_HOST=redis
            SMTP_HOST=$SMTP_HOST
            SMTP_PORT=$SMTP_PORT
            SMTP_USER=$SMTP_USER
            SMTP_PASS=$SMTP_PASS
            ALERT_FROM=$ALERT_FROM
            GENERAL_FROM=$GENERAL_FROM
            JWT_SECRET=$JWT_SECRET
            EOF

            echo "---- BUILD & START CONTAINERS ----"
            docker compose down
            docker compose up -d --build

            echo "---- CLEAN OLD IMAGES ----"
            docker image prune -af

