name: RouteRx CI/CD

on:
  push:
   branches: [ master, main ]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test


  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        env:
          SMTP_HOST: ${{ secrets.SMTP_HOST }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
          ALERT_FROM: ${{ secrets.ALERT_FROM }}
          GENERAL_FROM: ${{ secrets.GENERAL_FROM }}
        with:
          host: ${{ secrets.SERVER_IP }}
          username: deploy
          key: ${{ secrets.SERVER_SSH_KEY }}
          envs: SMTP_HOST,SMTP_PORT,SMTP_USER,SMTP_PASS,ALERT_FROM,GENERAL_FROM
          script: |
            cd ~/apps/routerx-api

            # Create .env on the server dynamically
            cat > .env << EOF
            SMTP_HOST=$SMTP_HOST
            SMTP_PORT=$SMTP_PORT
            SMTP_USER=$SMTP_USER
            SMTP_PASS=$SMTP_PASS
            ALERT_FROM=$ALERT_FROM
            GENERAL_FROM=$GENERAL_FROM
            EOF

            set -e

            echo "---- SYNC REPOSITORY ----"
            git fetch --all
            git reset --hard origin/master
            git clean -fd

            echo "---- INSTALL ----"
            npm ci

            echo "---- BUILD ----"
            npm run build

            echo "---- RELOAD PM2 ----"
            pm2 reload routerx --update-env
